.background {
    background-image: url('../../assets/img/HP_SN11_Vertical_20210311_IMG_01221.jpg');
    background-position: 40% center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
  }
  
  #feature {
    height: 100%;
  }
  
  body {
    height: 100vh;
    font-family: 'IBM Plex Sans';
    color: #fff;
  }
  
  .inner-left-bottom, .inner-left-middle, .inner-left-top, .inner-right-bottom, .inner-right-middle, .inner-right-top {
    text-align: left;
    width: 50%;
    max-width: 520px;
  }
  
  .inner-left-bottom {
    position: absolute;
    bottom: 15%;
    left: 50px;
  }
  
  .inner-left-bottom {
  }
  
  .section-inner {
    position: relative;
    max-width: 1400px;
    /*border: 1px solid red;*/
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .inner-right-bottom {
      position: absolute;
      bottom: 15%;
      right: 50px;
      width: 520px;
    }
  }
  
  @media (min-width: 768px) {
    .inner-right-bottom {
      position: absolute;
      bottom: 15%;
      right: 50px;
      width: 520px;
    }
  }
  
  body {
    color: #fff;
  }
  
  a.btn {
    position: relative;
    min-width: 160px;
    padding: 15px 15px;
    margin: 30px 0 0;
    border: 2px solid #fff;
    border-radius: 0;
  }
  
  .btn .text, a.btn {
    display: inline-block;
  }
  
  #feature .h1 {
    font-size: 48px;
    line-height: 48px;
  }
  
  .btn {
    color: white;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    /*color: #ffffff;*/
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  #feature h1 {
    display: block;
    margin-bottom: 20px;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .inner-right-bottom {
    text-align: left;
  }
  
  #scrollme {
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 30px;
    height: 20px;
    margin: 0 0 0 -15px;
    transform: translateY(-2rem);
    animation: arrowdown 1s linear;
  }
  
  #scrollme {
  }
  
  .icon {
    transform: translate(-50%,-50%);
    font-size: 2rem;
  }
  
  .header-inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
  }
  
  .header-inner, .row {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
  }
  
  #logo {
    /*position: absolute;*/
    top: 32px;
    left: 50px;
    width: 210px;
    height: auto;
  }
  
  #navcol-1 {
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    /*display: flex;*/
    /*justify-content: space-between;*/
  }
  
  .navbar-expand-md .navbar-nav > * > * {
    color: #fff !important;
  }
  
  .btn.btn-primary {
    background-color: transparent;
    font-size: 20px;
    padding: 0;
  }
  
  a:active, a:link, a:visited {
    color: #fff;
  }
  
  .navbar-light .navbar-brand {
    color: rgba(255,255,255,0.9);
  }
  
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(255,255,255,0.9);
  }
  
  svg path, svg polygon, svg rect {
    fill: white;
  }
  
  svg {
  }
  
  p:first-of-type {
    margin-top: 20px;
  }
  
  p {
    margin: 15px 0;
    line-height: 1.6;
  }
  
  #footer, .modal-transform, .youtube-wrapper {
    background: #000;
  }
  
  #footer {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: 'IBM Plex Sans',Arial,Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #979797;
    padding: 20px 0;
  }
  
  #footer span {
    margin-right: 20px;
  }
  
  #footer a.social {
    display: inline-block;
    margin: 0 20px;
  }
  
  p span {
    text-transform: uppercase;
  }
  
  .navbar-light .navbar-toggler-icon {
  }
  
  @media (min-width: 300px) {
    .inner-right-bottom {
      margin: 0 auto;
      max-width: 520px;
    }
  }
  
  